
{% extends "layout.html" %}

{% block content %}



<div class="container pt-4">
<h1 class="pt-4 pb-4">Sana en uygun işi bul!</h1> 
<div class="row">
    <div class="col">
     <input class="form-control" type="text" placeholder="Freelance iş ara">
    </div>
    <div class="col-md-auto">
     <button type="button" class="btn btn-primary">İş Bul</button>
    </div>
    <div class="col col-lg-2">
      <div class="col"> <a href="{% url 'mission:allmission' %}" style="color:black; text-decoration:underline;">DETAYLI ARA</a></div>
    </div>    
</div>
    <div class="row pl-3 pt-3">
    <h3>Çalışmak için mezun olmayı bekleme</h3> 
</div>




{% endblock  %}
    
   