{% extends "layout.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Görev Oluştur</h3>
        <small>Görev oluşturmaya hazır mısın?  {{request.user.username}}</small>
        <hr>
        <form method = "post">
            {% csrf_token %}
            
            {{form|crispy}}
            <br>
            <button type = "submit" class = "btn btn-danger">Görevi Oluştur</button>
        </form>
    </div>
  </div>

{% endblock  %}
    
   