{% extends "layout.html" %}

{% block content %}

<div class="container ">
  
  <div class="border border-primary p-3 mb-2 bg-primary text-white" style="height:90px;">
    <p class="h2">{{detail.title}}</p>
    <small>{{detail.date}} tarihinde yayınlandınız</small>
  </div>
  <div class="border border-primary p-3 mb-2 shadow p-3 mb-5 bg-white rounded" style="height:300px;">
    <p class="font-weight-normal">{{detail.mission}}</p>
  </div>

  <div style="position:absolute; right:150px;">
    <a href="" class="btn btn-danger btn-lg">Geri Dön</a>
  </div>  
</div>
{% endblock  %}